/* main */
main {
   width: 100%;
   height: 100%;
}
   .hobby_detail_left {
      float: left;
      width: 20%;
      height: 100%;
      /* border: 1px solid black; */
      padding: 50px;
   }
      .hobby_detail_title {
         width: 100%;
         height: 100px;
         padding-top: 15px;
         display: flex;
         justify-content: center;
         font-size: x-large;
      }
      .hobby_detail_bigNav {
         width: 100%;
         height: 100%;
         border: 1px solid gray;
         border-radius: 10px;
      }
         .hobby_detail_memberInfo {
            padding: 15px;
            border: 1px solid lightgray;
            border-radius: 5px;
            margin: 30px 20px;
         }
         .hobby_detail_insertBTN {
            text-align: center;
            margin: 30px 20px;
         }
            .hobby_detail_insertBTN input {
               padding: 15px;
               width: 100%;
               border-radius: 10px;
               border: 1px solid lightgray;
            }
         .hobby_detail_searchOPT {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 20px 10px 20px;
         }
            .hobby_detail_searchOPT select {
               width: 40%;
               height: 30px;
               text-align: center;
               border-radius: 5px;
               border: 1px solid lightgray;
            }
         .hobby_detail_searchBar {
            height: 100%;
            margin: 10px 20px 30px 20px;
         }
            .hobby_detail_searchBar input[type="text"] {
               width: 100%;
               padding: 5px;
               border-radius: 5px;
               border: 1px solid lightgray;
            }
            .hobby_detail_searchBar input[type="submit"] {
               width: 100%;
               padding: 5px;
               border-radius: 5px;
               border: 1px solid lightgray;
               margin-top: 10px;
            }
         .hobby_detail_categorySelector {
            border: 1px solid lightgray;
            border-radius: 5px;
            margin: 30px 20px;
         }
            .hobby_detail_categorySelector li {
               margin: 15px;
            }
   .hobby_detail_center {
      float: left;
      width: 60%;
      height: 100%;
      /* border: 1px solid black; */
   }
      .hobby_detail_center_top {
         width: 100%;
         height: 100px;
         margin-top: 50px;
      }
      .hobby_detail_board_table {
         width: 100%;
         height: 630px;
         border: 1px solid gray;
         /* text-align: center; */
         padding: 50px;
         border-radius: 10px;
      }
         .hobby_detail_center th {
            padding-bottom: 20px;
            width: 14%;
         }
         tr th:nth-child(2) {
            width: 44%;
         }
         .hobby_detail_table_content {
            width: 100%;
            height: 100%;
            padding: 80px;
            border: 1px solid lightgray;
            border-radius: 10px;
         }
      .hobby_detail_center_bottom {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
         .hobby_detail_center_bottom div {
            float: left;
            display: flex;
            justify-content: center;
            margin: 30px 0;
            width: 25%;
            text-align: center;
         }
            .hobby_detail_center_bottom div input {
               padding: 5px 15px;
               background-color: lightpink;
               border-radius: 10px;
               margin: 10px;
               border: 0;
            }
            .hobby_detail_center_bottom div button {
               padding: 5px 15px;
               background-color: lightsteelblue;
               border-radius: 50%;
               margin: 10px;
               border: 0;
            }
      .hobby_detail_reply_table {
         width: 100%;
         height: 100%;
         border: 1px solid lightgray;
         padding: 10px 40px 40px 60px;
         text-align: center;
         border-radius: 10px;
         margin-bottom: 50px;
      }
      .hobby_detail_reply_table td {
         width: 12%;
         padding: 10px;
      }
      tr td:nth-child(2) {
         width: 52%;
      }
      tr td:nth-child(1) {
         text-align: left;
      }
      .hobby_detail_reply_table input[type="text"] {
         width: 820px;
         padding: 5px;
         border-radius: 10px;
         border: 1px solid gray;
         margin: 40px 0;
      }
      .hobby_detail_reply_table input[type="submit"] {
         padding: 5px 15px;
         border-radius: 50%;
         background-color: moccasin;
         border: 0;
      }
   .hobby_detail_right {
      float: left;
      width: 20%;
      height: 100%;
   }