label {
    display: block; /* 블록 요소로 설정하여 한 줄에 하나의 요소만 표시됩니다. */
  }
  @font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
main {
	width: 60%;
    margin: 0 auto;
	font-family: 'SUITE-Regular';
}
  

  h1{
      text-align: center;
      font-size: 2em;
  }

  
  .btn1{
      padding: 10px;    
  }

  #btn-delete{
      float: right;
  }

  .nav_category{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      border: 1px solid black;
                      
  }
  .nav_category ul{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      margin: 5px;
  }
  .nav_category li{
      margin: 5px;
      padding-left: 10px;
      padding-right: 10px;
  }

  #product_sort{
      float: right;
  }
  .product_list{
      border: 1px solid black;                
      height: 400px;
      display: flex;
  }


.product_item_menu {
    flex: 1; /* 이것은 행 안에 있는 모든 네 항목을 같은 너비로 만듭니다 */
    border: 1px solid black;
    display: flex;
    flex-direction: column; /* 항목을 세로로 정렬합니다 */
    justify-content: center;
    align-items: center;
    /* 높이 속성을 제거하여 내용에 따라 높이가 조정되도록 합니다 */
}
.product_item {
    flex: 1; /* 이것은 행 안에 있는 모든 세 항목을 같은 너비로 만듭니다 */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 높이 속성을 제거하여 내용에 따라 높이가 조정되도록 합니다 */
}
.image_thumbnail {
    max-width: 100%;
    max-height: 100%; /* 이미지가 컨테이너 내에 맞게 만듭니다 */
}

  img{
      max-width: 100%;
      height: 100%;
  }

  #product_detail_container{
      border: 1px solid black;
      height: 200px;
      display: flex;
  }

  #product_recommendation{
      border: 1px solid black;
      width: 30%;
      
  }

  #product_starRev{
      border: 1px solid black;
      width: 70%;
  }

  #product_nutrient_info{
      border: 1px solid black;
      height: 200px;
      text-align: center;
  }

  #menu-images{
      display: flex;
      height: 90%;
      width: 100%;
      justify-content: space-evenly;
  }

  #menu_h2{
      height: 10%;
  }